# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Build Outputs
dist
build
out
.next

# Environment Variables
.env
.env.local
.env.*.local
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing & Coverage
coverage
.nyc_output

# OS
.DS_Store

# IDEs and Editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temp & Runtime
.temp
.tmp
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Turbo
.turbo

# Vercel
.vercel

# Prisma
**/generated/**

# Misc
*.pem
